# BrowserSync proxy — удалённый WordPress
WP_PROXY_URL=http://ksenonspby.temp.swtest.ru

# FTP
FTP_HOST=your-ftp-host
FTP_USER=your-ftp-user
FTP_PASSWORD=your-ftp-password
FTP_PORT=21
FTP_REMOTE_PATH=/public_html/wp-content/themes/ksenonspby-theme
