@use "../variables" as *;
@use "../mixins" as *;

.breadcrumbs {
	position: relative;
	z-index: 3;
	padding: rem(24) 0 rem(16);

	&__list {
		display: flex;
		flex-wrap: wrap;
		align-items: center;
		gap: rem(8);
		font-family: $font-inter;
		font-size: rem(14);
		line-height: 1.4;
		color: $color-text-muted;
	}

	&__item {
		display: inline-flex;
		align-items: center;
		min-width: 0;
		gap: rem(8);

		&:not(:last-child) {
			flex-shrink: 0;

			&::after {
				content: "";
				display: block;
				width: rem(7);
				height: rem(11);
				flex-shrink: 0;
				background-color: currentColor;
				opacity: 0.55;
				mask: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 7 11' fill='none'%3E%3Cpath d='M0.714233 10.4121C0.550903 10.558 0.285763 10.558 0.122433 10.4121C-0.0408373 10.2662 -0.0408373 10.0296 0.122433 9.88374L5.29919 5.26069L0.122433 0.636661C-0.0405173 0.490831 -0.0405173 0.255131 0.122433 0.109331C0.285763 -0.0365689 0.550903 -0.0365689 0.714233 0.109331L6.12537 4.94233C6.14874 4.95607 6.17121 4.97279 6.19177 4.99116C6.27313 5.06406 6.31385 5.15941 6.31384 5.25483V5.26655C6.31371 5.3619 6.27316 5.45741 6.19177 5.53022C6.17114 5.54865 6.14882 5.56528 6.12537 5.57905L0.714233 10.4121Z' fill='black'/%3E%3C/svg%3E") center / contain no-repeat;
				-webkit-mask: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 7 11' fill='none'%3E%3Cpath d='M0.714233 10.4121C0.550903 10.558 0.285763 10.558 0.122433 10.4121C-0.0408373 10.2662 -0.0408373 10.0296 0.122433 9.88374L5.29919 5.26069L0.122433 0.636661C-0.0405173 0.490831 -0.0405173 0.255131 0.122433 0.109331C0.285763 -0.0365689 0.550903 -0.0365689 0.714233 0.109331L6.12537 4.94233C6.14874 4.95607 6.17121 4.97279 6.19177 4.99116C6.27313 5.06406 6.31385 5.15941 6.31384 5.25483V5.26655C6.31371 5.3619 6.27316 5.45741 6.19177 5.53022C6.17114 5.54865 6.14882 5.56528 6.12537 5.57905L0.714233 10.4121Z' fill='black'/%3E%3C/svg%3E") center / contain no-repeat;
			}
		}
	}

	&__link {
		color: inherit;
		transition: color 0.3s ease;

		@media (any-hover: hover) {
			&:hover {
				color: $color-accent;
			}
		}
	}

	&__current {
		overflow: hidden;
		color: $color-accent;
		text-overflow: ellipsis;
		word-break: break-word;
	}
}