@use "../global/tokens";
@use "../tex";

.faq {
	padding: tex.rem(40) 0;

	@media (min-width: tex.$md3) {
		padding: tex.rem(36) 0;

		&:last-child {
			padding-bottom: tex.rem(120);
		}
	}

	&__head {
		display: flex;
		flex-direction: column;
		gap: tex.rem(10);
		margin-bottom: tex.rem(17);

		@media (min-width: tex.$md3) {
			flex-direction: row;
			align-items: flex-start;
			justify-content: space-between;
			gap: tex.rem(24);
			margin-bottom: tex.rem(40);
		}
	}

	&__tag {
		align-self: flex-start;

		@media (min-width: tex.$md3) {
			order: 2;
			flex-shrink: 0;
			margin-top: tex.rem(10);
		}
	}

	&__title {
		color: tokens.$color-primary;
	}

	&__columns {
		display: grid;
		gap: tex.rem(20);

		@media (min-width: tex.$md3) {

			grid-template-columns: 1fr 1fr;

		}
	}

	&__col {
		display: flex;
		flex-direction: column;
		gap: tex.rem(20);
		min-width: 0;
	}
}
