.faq {
	padding: rem(40) 0;

	@media (min-width: $md3) {
		padding: rem(36) 0;

		&:last-child {
			padding-bottom: rem(120);
		}
	}

	&__head {
		display: flex;
		flex-direction: column;
		gap: rem(10);
		margin-bottom: rem(17);

		@media (min-width: $md3) {
			flex-direction: row;
			align-items: flex-start;
			justify-content: space-between;
			gap: rem(24);
			margin-bottom: rem(40);
		}
	}

	&__tag {
		align-self: flex-start;

		@media (min-width: $md3) {
			order: 2;
			flex-shrink: 0;
			margin-top: rem(10);
		}
	}

	&__title {
		color: $color-primary;
	}

	&__columns {
		display: grid;
		gap: rem(20);

		@media (min-width: $md3) {

			grid-template-columns: 1fr 1fr;

		}
	}

	&__col {
		display: flex;
		flex-direction: column;
		gap: rem(20);
		min-width: 0;
	}
}
