@use "../tex";

[data-motion] {
	--mx: 0px;
	--my: 0px;
	--mrotate: 0deg;
	--scroll-x: 0px;
	--scroll-y: 0px;
}

@mixin motion-animation($x: null) {
	will-change: transform;

	@if $x {
		transform: translateX(calc(#{$x} + var(--mx) + var(--scroll-x))) translateY(calc(var(--my) + var(--scroll-y))) rotate(var(--mrotate));
	} @else {
		transform: translate3d(calc(var(--mx) + var(--scroll-x)), calc(var(--my) + var(--scroll-y)), 0) rotate(var(--mrotate));
	}

	@media (prefers-reduced-motion: reduce) {
		will-change: auto;

		@if $x {
			transform: translate3d($x, 0, 0);
		} @else {
			transform: none;
		}
	}
}

@mixin decor-bg-svg-layer {
	&::before {
		content: "";
		position: absolute;
		inset: 0;
		z-index: -1;
		pointer-events: none;
		background: url("@img/decor-bg.svg") center 86% / 90% auto no-repeat;
		@include motion-animation;

		@media (min-width: tex.$md4) {
			background: url("@img/decor-bg.svg") 67% 10% / auto no-repeat;
		}
	}
}
