@use "../global/tokens";
@use "../tex";

@mixin tag-base {
	border-radius: tokens.$radius-tab;
	font-family: tex.$font-family;
	font-size: tex.rem(14);
	font-weight: 500;
	line-height: 1.2;
	text-transform: uppercase;
}

@mixin tag-accent-default {
	background: tokens.$color-accent;
	color: #fff;
	padding: tex.rem(6) tex.rem(12);

	@media (min-width: tex.$md5) {
		padding: tex.rem(8) tex.rem(17);
		font-size: tex.rem(20);
	}
}

.tag {
	display: inline-block;
	@include tag-base;
	@include tag-accent-default;

	&--white {
		display: inline-flex;
		align-self: flex-start;
		align-items: center;
		justify-content: center;
		@include tag-base;
		background: #fff;
		color: tokens.$color-primary;
		padding: tex.rem(6) tex.rem(10);
		letter-spacing: -0.02em;
		white-space: nowrap;

		@media (min-width: tex.$md3) {
			height: tex.rem(40);
			padding: tex.rem(10) tex.rem(16);
			font-size: tex.rem(20);
		}
	}
}
