@use "../variables" as *;
@use "../mixins" as *;
// Типографика UI Kit (превью-классы для гайда)

.text-ui {
	line-height: var(--lh-body);
	color: $color-text-body;
	font-size: var(--fs-body);
	font-weight: var(--fw-regular);
}

.text-btn {
	font-weight: var(--fw-medium);
	line-height: var(--lh-heading);
	letter-spacing: $btn-letter-spacing;
	color: $color-primary;
	text-transform: uppercase;
	font-size: var(--fs-btn);
}
