@use "../../variables" as *;
@use "../../mixins" as *;

.promotion-package {
	display: none;
	padding: rem(40) 0;

	@media (min-width: $md3) {
		display: block;
	}

	&__box {
		padding: rem(40) rem(65);
		border-radius: $radius-card;
		background: $color-surface;
	}

	&__title {
		margin-bottom: rem(30);
		font-family: $font-family;
		font-size: rem(48);
		font-weight: 500;
		line-height: normal;
		color: $color-black;
	}

	&__list {
		display: flex;
		flex-direction: column;
		gap: rem(15);
		max-width: rem(682);
	}

	&__item {
		display: flex;
		align-items: flex-start;
		gap: rem(20);
		padding: rem(20) rem(35);
		border-radius: rem(20);
		background: #fdfdfd;
	}

	&__num {
		flex-shrink: 0;
		font-family: $font-family;
		font-size: rem(20);
		font-weight: 500;
		line-height: 1.4;
		color: $color-accent;
	}

	&__text {
		font-family: $font-family;
		font-size: rem(20);
		font-weight: 500;
		line-height: 1.4;
		color: $color-black;
	}
}
