.not-found {
  padding: 1rem 0 3.75rem;
}

.not-found__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.not-found__head {
  width: 100%;
  max-width: 20.75rem;
  text-align: center;
}

.not-found__text {
  margin: 0.625rem 0 0;
}

.not-found__visual {
  width: 100%;
  max-width: 43.9375rem;
  margin-top: 0.875rem;
  margin-inline: auto;
}

.not-found__visual img {
  width: 100%;
  height: auto;
}

.not-found__actions {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  width: 100%;
  gap: 0.625rem;
  margin-top: 1.125rem;
}

.not-found__btn {
  width: 100%;
  min-height: 3.25rem;
}

@media (min-width: 991.98px) {
  .not-found {
    padding: 1.25rem 0 6.25rem;
  }

  .not-found__head {
    max-width: none;
  }

  .not-found__visual {
    margin-top: 0.75rem;
  }

  .not-found__actions {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 1.25rem;
    margin-top: 2.8125rem;
  }

  .not-found__btn {
    width: 26.625rem;
    min-height: 60px;
  }
}

@media (max-width: 575.98px) {
  .not-found__text {
    max-width: 80%;
    margin-inline: auto;
  }
}