.policy {
  position: relative;
  padding: 2.5rem 0 5rem;
  overflow: hidden;
}

.policy::before {
  content: "";
  position: absolute;
  inset: 0;
  z-index: 0;
  background: url("../img/policy-decor.svg") 0 0/100% auto repeat-y;
  pointer-events: none;
}

.policy__container {
  position: relative;
  z-index: 1;
}

.policy__inner {
  max-width: 54.75rem;
  margin: 0 auto;
}

@media (min-width: 1199.98px) {
  .policy {
    padding: 1.25rem 0 6.25rem;
  }
}

@media (max-width: 767.98px) {
  .policy {
    padding: 1rem 0 3rem;
  }
}