@use "../../global/tokens";
@use "../../tex";

.not-found {
	padding: tex.rem(16) 0 tex.rem(60);

	@media (min-width: tex.$md3) {
		padding: tex.rem(20) 0 tex.rem(100);
	}

	&__container {
		display: flex;
		flex-direction: column;
		align-items: center;
	}

	&__head {
		width: 100%;
		max-width: tex.rem(332);
		text-align: center;

		@media (min-width: tex.$md3) {
			max-width: none;
		}
	}

	&__text {
		margin: tex.rem(10) 0 0;

		@media (max-width:tex.$md5) {
			max-width: 80%;
			margin-inline: auto
		}
	}

	&__visual {
		width: 100%;
		max-width: tex.rem(703);
		margin-top: tex.rem(14);
		margin-inline: auto;

		& img {
			width: 100%;
			height: auto;
		}

		@media (min-width: tex.$md3) {
			margin-top: tex.rem(12);
		}
	}



	&__actions {
		display: flex;
		flex-direction: column;
		align-items: stretch;
		width: 100%;
		gap: tex.rem(10);
		margin-top: tex.rem(18);

		@media (min-width: tex.$md3) {
			flex-direction: row;
			flex-wrap: wrap;
			justify-content: center;
			align-items: center;
			gap: tex.rem(20);
			margin-top: tex.rem(45);
		}
	}

	&__btn {
		width: 100%;
		min-height: tex.rem(52);

		@media (min-width: tex.$md3) {
			width: tex.rem(426);
			min-height: tokens.$btn-height;
		}
	}
}