.not-found {
	padding: rem(16) 0 rem(60);

	@media (min-width: $md3) {
		padding: rem(20) 0 rem(100);
	}

	&__container {
		display: flex;
		flex-direction: column;
		align-items: center;
	}

	&__head {
		width: 100%;
		max-width: rem(332);
		text-align: center;

		@media (min-width: $md3) {
			max-width: none;
		}
	}

	&__text {
		margin: rem(10) 0 0;

		@media (max-width:$md5) {
			max-width: 80%;
			margin-inline: auto
		}
	}

	&__visual {
		width: 100%;
		max-width: rem(703);
		margin-top: rem(14);
		margin-inline: auto;

		& img {
			width: 100%;
			height: auto;
		}

		@media (min-width: $md3) {
			margin-top: rem(12);
		}
	}



	&__actions {
		display: flex;
		flex-direction: column;
		align-items: stretch;
		width: 100%;
		gap: rem(10);
		margin-top: rem(18);

		@media (min-width: $md3) {
			flex-direction: row;
			flex-wrap: wrap;
			justify-content: center;
			align-items: center;
			gap: rem(20);
			margin-top: rem(45);
		}
	}

	&__btn {
		width: 100%;
		min-height: rem(52);

		@media (min-width: $md3) {
			width: rem(426);
			min-height: $btn-height;
		}
	}
}