@use "../../variables" as *;
@use "../../mixins" as *;

.advantages {
	padding: rem(20) 0 rem(40);

	@media (min-width: $md3) {
		padding: rem(60) 0 rem(60);
	}

	&__grid {
		display: grid;
		grid-template-columns: 1fr;
		gap: rem(10);

		@media (min-width: $md5) {
			grid-template-columns: repeat(2, 1fr);
		}

		@media (min-width: $md3) {
			grid-template-columns: repeat(4, 1fr);
			gap: rem(20);
		}
	}

	&__card {
		min-height: rem(177);
		padding: rem(36) rem(45);
		border-radius: rem(40);
		background: $color-surface;
		color: #000;
		transition: background-color 0.3s ease, color 0.3s ease;

		@media (any-hover: hover) {
			&:hover {
				background: #FD8011;
				color: #fff;
			}
		}
	}

	&__value {
		margin-bottom: rem(42);
		font-family: $font-family;
		font-weight: 500;
		font-size: rem(36);
		line-height: 1.1;



	}

	&__label {
		font-size: rem(15);
		line-height: 1.3;

	}
}