@use "../../global/tokens";
@use "../../tex";

.advantages {
	padding: tex.rem(20) 0 tex.rem(40);

	@media (min-width: tex.$md3) {
		padding: tex.rem(30) 0 tex.rem(60);
	}

	&__grid {
		display: grid;
		grid-template-columns: 1fr;
		gap: tex.rem(10);

		@media (min-width: tex.$md5) {
			grid-template-columns: repeat(2, 1fr);
		}

		@media (min-width: tex.$md3) {
			grid-template-columns: repeat(4, 1fr);
			gap: tex.rem(20);
		}
	}

	&__card {
		min-height: tex.rem(177);
		padding: tex.rem(30) tex.rem(45);
		border-radius: tex.rem(10);
		background: tokens.$color-surface-mint;
	}

	&__value {
		margin-bottom: tex.rem(42);
		font-family: tex.$font-family;
		font-weight: 500;
		font-size: tex.rem(36);
		line-height: 1.1;
		color: tokens.$color-primary;

		@media (min-width: tex.$md3) {
			font-size: tex.rem(44);
		}
	}

	&__label {
		font-size: tex.rem(14);
		line-height: 1.3;
		color: tokens.$color-text-body;

		@media (min-width: tex.$md3) {
			font-size: tex.rem(18);
		}
	}
}
