@use "../../global/tokens";
@use "../../tex";

.catalog-teaser {
	padding: tex.rem(16) 0 tex.rem(30);

	@media (min-width: tex.$md3) {
		padding: tex.rem(42) 0 tex.rem(64);
	}

	&__container {
		position: relative;
		z-index: 1;

		&::before {
			content: "";
			position: absolute;
			inset: 0;
			z-index: -1;
			pointer-events: none;
			background: url("@img/decor-bg.svg") center 86% / 90% auto no-repeat;

			@media (min-width: tex.$md4) {
				background: url("@img/decor-bg.svg") 67% 10% / auto no-repeat;
			}
		}
	}

	&__head {
		display: flex;
		flex-direction: column;
		gap: tex.rem(10);


		@media (min-width:tex.$md3) {
			flex-direction: row;
			justify-content: space-between;
		}
	}

	&__title {
		max-width: tex.rem(700);
	}

	&__tag {
		align-self: flex-start;
		order: -1;

		@media (min-width:tex.$md3) {
			margin-top: 0.875rem;
			order: 0
		}

	}

	&__body {
		margin-top: 0.5rem;
		display: flex;
		flex-direction: column;
		gap: tex.rem(10);
		row-gap: tex.rem(62);

		@media (min-width: tex.$md2) {
			margin-top: 1rem;
			flex-direction: row;
			column-gap: tex.rem(32);
			row-gap: tex.rem(20);
			align-items: flex-end;
		}
	}



	&__main {
		flex: 1 1 auto;
	}

	&__text {

		@media (min-width: tex.$md3) {
			max-width: tex.rem(584);
		}
	}

	&__actions {
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		gap: tex.rem(10);
		margin-top: 1.125rem;

		@media (min-width: tex.$md2) {
			flex-direction: column;
			margin-top: 2rem;
			gap: tex.rem(20);
			max-width: tex.rem(426);
		}
	}

	&__btn {
		width: 100%;
		min-height: tex.rem(52);

		@media (min-width: tex.$md3) {
			min-height: tokens.$btn-height;
		}

		.btn__icon {
			width: tex.rem(28);
			height: tex.rem(28);
		}

		&.btn--secondary .btn__icon {
			@media (max-width: tex.$md3) {
				display: none;
			}
		}
	}



	&__gallery {
		position: relative;
		z-index: 1;
		display: grid;
		grid-template-columns: repeat(3, 1fr);
		gap: tex.rem(10);


		@media (min-width: tex.$md2) {
			display: flex;
			align-items: center;
			justify-content: space-between;
			justify-content: flex-end;
			gap: tex.rem(21);
		}
	}

	&__gallery-item {
		flex: 0 0 tex.rem(104);
		list-style: none;

		@media (min-width: tex.$md2) {
			flex: 0 0 tex.rem(203);
			width: tex.rem(203);
			height: tex.rem(203);
		}
	}

	&__card {
		width: 100%;
		height: 100%;
		min-height: tex.rem(104);
		display: flex;
		align-items: center;
		justify-content: center;
		text-decoration: none;
		color: inherit;

		border: tex.rem(0.5) solid tokens.$color-accent;
		border-radius: tex.rem(10);
		padding: tex.rem(10);
		background: tokens.$color-surface-mint;
		overflow: hidden;

		& img {
			height: auto
		}

		@media (min-width: tex.$md2) {
			min-height: tex.rem(203);
			border-width: 1px;
		}
	}


}