@use "../../components/motion-animation";
@use "../../tex";

.news {
	padding: tex.rem(40) 0;
	position: relative;

	@media (min-width: tex.$md3) {
		padding: tex.rem(48) 0 tex.rem(72);
	}

	&__container {
		position: relative;
		z-index: 1;
		@include motion-animation.decor-bg-svg-layer;
	}

	&__head {
		margin-bottom: tex.rem(20);
		display: flex;
		align-items: flex-start;
		flex-direction: column-reverse;
		gap: tex.rem(10);

		@media (min-width: tex.$md3) {
			justify-content: space-between;
			flex-direction: row;
			gap: tex.rem(10) tex.rem(32);
			margin-bottom: tex.rem(40);
		}
	}

	&__intro {
		display: flex;
		flex-direction: column;
		gap: tex.rem(10);


	}

	&__tag {

		display: inline-flex;
		align-self: flex-start;

		@media (min-width: tex.$md3) {
			margin-top: 1rem;
		}
	}

	&__title {
		@media (min-width: tex.$md3) {
			grid-area: title;
			max-width: tex.rem(965);
		}
	}

	&__text {

		@media (min-width: tex.$md3) {
			grid-area: text;
			max-width: tex.rem(965);
		}
	}

	&__grid {
		display: grid;
		grid-template-columns: 1fr;
		gap: tex.rem(10);

		@media (min-width: tex.$md2) {

			gap: tex.rem(20);
			grid-template-columns: repeat(2, 1fr);
		}
	}

	&__footer {
		display: flex;
		justify-content: center;
		margin-top: tex.rem(20);

		@media (min-width: tex.$md3) {
			margin-top: tex.rem(40);
		}
	}

	&__btn {
		width: 100%;
		min-height: tex.rem(52);
		font-size: tex.rem(16);
		letter-spacing: -0.02em;
		@media (min-width:tex.$md5) {
			max-width: tex.rem(332);
		}
		@media (min-width: tex.$md3) {
			width: auto;
			min-width: tex.rem(426);
			max-width: none;
			min-height: tex.rem(60);
			font-size: tex.rem(20);
			padding-left: tex.rem(32);
			padding-right: tex.rem(32);
		}
	}
}